{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>locations</title>

    <style>
        body{
            text-align: center;
        }
        table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 2px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    thead{
        font-weight: bold;
        text-align: center;
        background-color:black;
        color: white;
    }
    th {
        background-color: #f2f2f2;
    }
    </style>
</head>
<body>
    <h2>Locations listed</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Description</th>
                <!-- <th>Image</th> -->
                <!-- <th>Message</th> -->
                <th>Activity</th>
                <th>Rank</th>
                <!-- Add more columns for other car details -->
            </tr>
        </thead>
        <tbody>
            <!-- Loop through your cars data and populate the table rows -->
            {% for l in l %}
                <tr>
                    <td>{{ l.name }}</td>
                    <td>{{ l.add }}</td>
                    <td>{{ l.desc }}</td>
                    <!-- <td><img src="{{ car.image.url }}" alt="{{ car.make }} {{ car.model }}"></td> -->
                    <td>{{ l.acti }}</td>
                    <td>{{ l.rank }}</td>
                    <!-- Add more columns for other car details -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>