<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>locations</title>

    <style>
        body{
            text-align: center;
        }
        table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 2px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    thead{
        font-weight: bold;
        text-align: center;
        background-color:black;
        color: white;
    }
    th {
        background-color: #f2f2f2;
    }
    </style>
</head>
<body>
    <h2>Locations listed</h2>

    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Rank</td>
                <td>Type</td>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>acs</td>
            <td>abc</td>
            <td>adc</td>
            <tr>
            <td>acs</td>
            <td>abc</td>
            <td>adc</td>
            <tr>
            <td>acs</td>
            <td>abc</td>
            <td>adc</td>
        </tr>
        </tbody>
    </table>
</body>
</html>